numpy
opencv-python
matplotlib
scikit-learn
tensorflow
keras
ultralytics
pandas
django
gymnasium==0.29.1
networkx==3.3
numpy==1.26.4
osmnx==1.9.4
matplotlib==3.10.1
PyYAML==6.0.2
torch==2.6.0
tqdm==4.67.1
pytest==8.3.5