<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Crypto{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <div id="topbar">

        <button class="topbarbtn">
            <img src="{% static 'images/magnifying.png' %}" alt="Search Symbol"></src>
            <p id="smallsearch">Search</p>
        </button>

        <p class="separator">|</p>

        <button class="topbarbtn" id="intervalbtn">
            <p class="small">Alpha</p>
        </button>

        <p class="separator">|</p>

        <button class="topbarbtn">
            <p class="small">Beta</p>
        </button>

    </div>

    <div id="canvas1">

        <div id="sidebar">
            <h3 id="watchlist">Watchlist</h3>
            {% include '1/sidebar.html' %}
        </div>

        <main>
            <div id="canvas2">
                {% block content %}
                {% endblock %}
            </div>
        </main>

    </div>

    <div id="searchsymbol">
        <div id="searchcontent">
            <span class="close">&times;</span>
            <h2>Search for Symbols</h2>
            <input type="text" id="searchinput" placeholder="Search Symbol" list="symbolsuggestions">
            <datalist id="symbolsuggestions">
                <option value="Bitcoin"></option>
                <option value="Ethereum"></option>
            </datalist>
        </div>
    </div>

    <script src="{% static 'scripts/base.js' %}"></script>
</body>
</html>