<nav class="nav-links">
    <a href="{% url 'home' %}" class="nav-item">Dashboard</a>
    <a href="{% url 'fire' %}" class="nav-item">Fire Focus</a>
    <a href="{% url 'smoke' %}" class="nav-item">Smoke Focus</a>
    <a href="#route-planner-section" class="nav-item">RL Route Planner</a>
    <a href="#inference-section" class="nav-item">Run Inference</a>
    <a href="#manual-emergency-section" class="nav-item">Emergency Hotline</a>
    <a href="#faq-section" class="nav-item">FAQs</a>
    <a href="#contact-section" class="nav-item">Contact Us</a>
</nav>
